faiss-cpu==1.8.0
sentence-transformers==3.0.1
gradio==4.41.0
together==1.2.0
ollama==0.3.1
uvicorn==0.30.3
fastapi==0.111.1
# Databricks dependencies
databricks-langchain
databricks-vectorsearch
databricks-ai-bridge
databricks-openai
databricks-sdk
pyspark>=3.5.0
delta-spark>=3.0.0
PyYAML>=6.0 
databricks-sdk
unstructured[docx,markdown]
python-magic
python-docx
docx2txt
numpy<2.0.0